.yardoc/
.ruby-lsp/
Gemfile.lock
__pycache__/
*.py[cod]
codegen/
coverage/
doc/
htslib/
moo.cram.crai
pkg/
vendor/
*.sam
*.bam
*.bai
*.cram
*.crai
*.vcf
*.bcf
*.csi
*.fa
*.fai
*.log
*.pdf
benchmark/bench_c
benchmark/bench_cr
.vscode
