/.bundle/
/vendor/bundle
/.yardoc
/_yardoc/
/.vscode/
/coverage/
/test/coverage/
/doc/
/pkg/
/tmp/
/codegen/
/vendor/
*.lock
*.bam
*.sam
*.bai
!test/fixtures/*

*.so
*.dylib
*.dll
*.o
mkmf.log
/ext/htslib_native/Makefile
/ext/htslib_native/coverage/

.DS_Store
moo.cram.crai
